[submodule "gateware/deps/litex"]
	path = gateware/deps/litex
	url = https://github.com/antmicro/litex.git
[submodule "gateware/deps/liteeth"]
	path = gateware/deps/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "gateware/deps/litevideo"]
	path = gateware/deps/litevideo
	url = https://github.com/antmicro/litevideo.git
[submodule "gateware/deps/nmigen"]
	path = gateware/deps/nmigen
	url = https://github.com/nmigen/nmigen.git
[submodule "gateware/deps/litesata"]
	path = gateware/deps/litesata
	url = https://github.com/enjoy-digital/litesata.git
[submodule "gateware/deps/migen"]
	path = gateware/deps/migen
	url = https://github.com/m-labs/migen
[submodule "gateware/deps/litedram"]
	path = gateware/deps/litedram
	url = https://github.com/enjoy-digital/litedram
[submodule "gateware/deps/liteiclink"]
	path = gateware/deps/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "gateware/deps/litex-boards"]
	path = gateware/deps/litex-boards
	url = https://github.com/antmicro/litex-boards.git
[submodule "gateware/deps/pythondata-cpu-vexriscv"]
	path = gateware/deps/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv
[submodule "gateware/deps/pythondata-software-compiler_rt"]
	path = gateware/deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "gateware/deps/pythondata-software-picolibc"]
	path = gateware/deps/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
[submodule "software/video-overlays-zephyr-app"]
	path = software/video-overlays-zephyr-app
	url = https://github.com/antmicro/video-overlays-zephyr-app.git
